<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Добро пожаловать, @context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выйти</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Регистрация</a>
        <a href="Identity/Account/Login">Войти</a>
    </NotAuthorized>
</AuthorizeView>