<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventories">
                <span class="oi oi-calendar" aria-hidden="true"></span> Комплектующие
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Сборки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchase">
                <span class="oi oi-cart" aria-hidden="true"></span> Покупка деталей
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produce">
                <span class="oi oi-cog" aria-hidden="true"></span> Собрать продукт
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sell">
                <span class="oi oi-british-pound" aria-hidden="true"></span> Продать
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventoryreport">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Покупка/сборка
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productreport">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Продажа/сборка
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bank">
                <span class="oi oi-book" aria-hidden="true"></span> Банк
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}